.returnMargin {
  margin-top: -15px;
}
.formWrap{
  padding-left:15px;
    padding-right:15px;
}
.NewDocket Form {
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    margin: 10px;
  }
  
  .NewDocket Form textarea {
    height: 200px;
    font-size: 16px;
  }

  .FileUpload {
    text-align: right;  }

    .react-datepicker {
      font-family: "Roboto", Roboto, Arial, sans-serif;
      font-size: 1.3rem;
      background-color: #fff;
      color: #000;
      border: 1px solid #aeaeae;
      border-radius: 0.3rem;
      display: inline-block;
      position: relative;
    }
    .react-datepicker__time-list {
      padding: 7px;
    }

  .no-padding {
    padding: 0px;    
  }
.uppercase {
  text-transform: uppercase;
}    

.boxFix {
  padding-left: 13px;
  padding-right: 13px;
  width: 55%;
  
}
.labelBump {
  padding-right:5px;
}

    
      
    